body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

#reader {
    margin: auto;
}

#isbn {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
}

ul {
    list-style-type: none;
    padding: 0;
}
